@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/*Aboreto*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
/*Alegreya Sans SC*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC';
}

.dash-right .avaliação {
  padding-top: 20dvh;
  padding-left: 2dvh;
  width: 100%;
  color: black;
  font-family: 'Alegreya Sans SC';
}

.dash-right .avaliação .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dash-right .avaliação .container .div-form {
  width: 95%;
}

.dash-right .avaliação .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avaliação .div-form label {
  width: 95%;
}

.dash-right .avaliação .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avaliação .div-form textarea {
  width: 95%;
  border: 3px solid #DF2588;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avaliação .div-form button {
  cursor: pointer;
  font-family: 'Alegreya Sans SC';
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #DF2588;
  width: 120px;
}



.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #DF2588;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #99C1B9;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #FFFAF1;
  height: 90vh;
  overflow: auto;
}


.parametros-alerta {
  display: flex;
  padding-top: 17dvh;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
}

.comentários {
  width: 40%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 3%;
}

.comentários p {
  margin: 0;
  font-weight: 500;
}

.comentários p:nth-child(2) {
  font-weight: 800;
}

.idade-media {
  background-color: #99C1B9;
}


.quantidade-comentario {
  background-color: #99C1B9;
}


.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-pink {
  color: white;
  background-color: #DF2588;
}

.btn-white {
  color: #DF2588;
  background-color: white;

}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #DF2588;
  background-color: #fff;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #DF2588;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #DF2588;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #DF2588;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #DF2588;
  border-radius: 5px;
  text-align: center;
}

.btn-nav-white h3 {
  color: #DF2588;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #DF2588;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}