@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/*Aboreto*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
/*Alegreya Sans SC*/

/* Aqui inicia-se o header */

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC';
}

html {
    scroll-behavior: smooth; 
    /* movimento de descer suave */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    background-color: #FFFAF1;
}

.header {
    padding: 10px 0px;
    border-bottom: 2px solid #DF2588;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Alegreya Sans SC';
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;

}

.header,
.header ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header ul li {
    padding-right: 32px;
    font-size: 14px;
    opacity: 100;
}

.header ul li a {
    position: relative;
    opacity: 100%;
}

.header ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transition: 0.3s;
}

.header ul li a:hover::after {
    width: 100%;
    left: 0%;
}

.header ul li:nth-of-type(4) {
    border-right: 1.5px solid black;
    padding-right: 16px;
}

.header ul li:nth-of-type(5) {
    padding-left: 16px;
}

.logo_wrapper {
    margin-right: 50px;
}

.logo:hover {
    cursor: pointer;
}

.header ul li a,
.header button a {
    color: black;
}

.header button {
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s;

}

.header button:hover {
    padding: 10px 15px;
    border: 2px solid #DF2588;
    border-radius: 8px;
    background-color: #DF2588
}

.header button:hover a {
    color: #E9F4DA
}


/* Aqui se inicia o home e finaliza o header */

.content-wrapper {
    width: 100%;
    padding-top: 40dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99C1B9;
    height: 300dvh;
}

.hero_content {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 1200px;
    gap: 40px;
    /* espaçamento entre linhas */
    align-items: center;
    padding-bottom: 200px;
}

.main_text {
    width: 60%;
    text-align: center;
    text-align: center;
}

.main_text h2 {
    font-family: Aboreto;
    margin-bottom: 50px;
    color: black;
    font-size: 5dvh;
    text-align: center;
}

.main_text p {
    font-family: Aboreto;
    margin-bottom: 1dvh;
    font-size: 2.5dvh;
    text-align: center;
}

.button_livros {
    font-family: Alegreya Sans SC;
    font-size: 18px;
    justify-self: center;
    width: 20%;
    padding: 6px;
    background-color: #DF2588;
    color: #FFFAF1;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* aqui começa sobre o site */

.social {
    margin-top: 7dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 10dvh;
}

.social .container {
    justify-content: center;
}


.social .container .boxes {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

.social p {
    font-family: Aboreto;
    text-align: center;
    font-size: 2dvh;
}

.social h4 {
    font-family: Aboreto;
    text-align: center;
    font-size: 2.5dvh;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sobre .content_escritora {
    width: 100%;
    padding-top: 10dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #99C1B9;
    height: 80dvh;
}

.sobre .content_escritora img {
    width: 50dvh;
    padding-bottom: 10dvh;

}


.sobre .main_text {
    font-family: Aboreto;
}

.sobre .main_text h2 {
    font-family: Aboreto;
    font-size: 5dvh;
    text-align: left;
}

.sobre .main_text p {
    font-family: Aboreto;
    font-size: 2.5dvh;
    text-align: left;
}

/* Aqui se finaliza o home parte 1 
e inicia o home parte 2 */

.content-wrapper_2 {
    width: 100%;
    padding-top: 13dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300dvh;
}

.hero_content_2 {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 1200px;
    gap: 40px;
    /* espaçamento entre linhas */
    align-items: center;
    padding-bottom: 200px;
}

.main_text_2 {
    align-items: center;
}

.livros {
    display: flex;
    height: fit-content;
    margin-top: 4dvh;
    justify-content: center;
    
}

.main_text_2 h2 {
    font-family: Aboreto;
    color: black;
    font-size: 5dvh;
    align-self: center;
}

.imagem_livros {
    width: 12dvh;
    height: auto;
    margin-bottom: 1dvh;
}

.main_text_2 p {
    font-family: Aboreto;
    margin-bottom: 15px;
    font-size: 3dvh;
    text-align: center;
}

/* aqui começa sobre os livros de romance */

.social_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #FFCAD4;
    padding-bottom: 15dvh;
}

.container_2 {
    justify-content: center;
    width: 100%;
}

.social_2 .container_2 p {
    font-family: Aboreto;
    text-align: center;
    font-size: 3.5dvh;
    margin-top: 7dvh;
}


.social_2 .container_2 .boxes_todos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 30px;
}

.box_1 {
    padding-top: 2dvh;
    width: 35dvh;
    height: 50dvh;
    background-color: #fff;
    justify-items: column;
    text-align: center;
    padding-bottom: 2dvh;
}

.box_1:hover img {
    transform: scale(1.1);
}

.box_1 h4 {
    font-family: Aboreto;
    font-size: 2dvh;
}

.box_1 a {
    font-family: Alegreya Sans SC;
    font-size: 1.5dvh;
    justify-self: center;
    width: 20%;
    padding: 1dvh;
    margin: 4dvh;
    background-color: #D8E2DC;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.box_2 {
    padding-top: 2dvh;
    width: 35dvh;
    height: 50dvh;
    background-color: #fff;
    justify-items: column;
    text-align: center;
    padding-bottom: 2dvh;
}

.box_2 h4 {
    font-family: Aboreto;
    font-size: 2dvh;
}

.box_2 a {
    font-family: Alegreya Sans SC;
    font-size: 1.5dvh;
    justify-self: center;
    width: 20%;
    padding: 1dvh;
    margin: 4dvh;
    background-color: #D8E2DC;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.box_2:hover img {
    transform: scale(1.1);
}

.box_3 {
    padding-top: 2dvh;
    width: 35dvh;
    height: 50dvh;
    background-color: #fff;
    justify-items: column;
    text-align: center;
    padding-bottom: 2dvh;
}

.box_3 h4 {
    font-family: Aboreto;
    font-size: 2dvh;
}

.box_3 a {
    font-family: Alegreya Sans SC;
    font-size: 1.5dvh;
    justify-self: center;
    width: 20%;
    padding: 1dvh;
    margin: 4dvh;
    background-color: #D8E2DC;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.box_3:hover img {
    transform: scale(1.1);
}

/* aqui começa os livros de ficção */

.social_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #B8BEDD;
    padding-bottom: 15dvh;
}

.container_3 {
    justify-content: center;
    width: 100%;
}

.social_3 .container_3 p {
    font-family: Aboreto;
    text-align: center;
    font-size: 3.5dvh;
    margin-top: 7dvh;
}


.social_3 .container_3 .boxes_todos_1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 30px;
}

.box_4 {
    padding-top: 2dvh;
    width: 35dvh;
    height: 50dvh;
    background-color: #fff;
    justify-items: column;
    text-align: center;
    padding-bottom: 2dvh;
}

.box_4 h4 {
    font-family: Aboreto;
    font-size: 2dvh;
}

.box_4 a {
    font-family: Alegreya Sans SC;
    font-size: 1.5dvh;
    justify-self: center;
    width: 20%;
    padding: 1dvh;
    margin: 4dvh;
    background-color: #D8E2DC;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.box_4:hover img {
    transform: scale(1.1);
}

.box_5 {
    padding-top: 2dvh;
    width: 35dvh;
    height: 50dvh;
    background-color: #fff;
    justify-items: column;
    text-align: center;
    padding-bottom: 2dvh;
}

.box_5 h4 {
    font-family: Aboreto;
    font-size: 2dvh;
}

.box_5 a {
    font-family: Alegreya Sans SC;
    font-size: 1.5dvh;
    justify-self: center;
    width: 20%;
    padding: 1dvh;
    margin: 4dvh;
    background-color: #D8E2DC;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.box_5:hover img {
    transform: scale(1.1);
}

.box_6 {
    padding-top: 2dvh;
    width: 35dvh;
    height: 50dvh;
    background-color: #fff;
    justify-items: column;
    text-align: center;
    padding-bottom: 2dvh;
}

.box_6 h4 {
    font-family: Aboreto;
    font-size: 2dvh;
}

.box_6 a {
    font-family: Alegreya Sans SC;
    font-size: 1.5dvh;
    justify-self: center;
    width: 20%;
    padding: 1dvh;
    margin: 4dvh;
    background-color: #D8E2DC;
    color: black;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.box_6:hover img {
    transform: scale(1.1);
}

/* Aqui termina a home 
e se inicia a tela de login */

.login {
    width: 100%;
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300dvh;
    padding-bottom: 300px;
    background-image: url('imagens/fundo_4.jpg');
    background-size: cover;
}

.login .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_login {
    width: 40dvh;
    height: 35dvh;
    background-color: rgba(250, 235, 215, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: 20px 0;
}

.card_login h2 {
    padding-top: 4dvh;
    font-family: Alegreya Sans SC;
    margin: 0;
    font-size: 30px;
}

.cadastro {
    width: 100%;
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300dvh;
    padding-bottom: 300px;
    background-image: url('imagens/fundo_4.jpg');
    background-size: cover;
}

.cadastro .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_cadastro {
    width: 50dvh;
    height: 54dvh;
    background-color: rgba(250, 235, 215, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: 20px 0;
}

.card_cadastro h2 {
    padding-top: 3dvh;
    font-family: Alegreya Sans SC;
    margin: 0;
    font-size: 30px;
}

.formulario {
    display: flex;
    height: 10%;
    width: 70%;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 1dvh;
}

.formulario span {
    font-size: 15px;
    font-weight: 800;
}


.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 0;
}

.campo input {
    padding: 1.3dvh;
    border-color: #fff;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    margin: 0;
    text-align: left;
    border: none;
}

.campo span {
    font-size: 15px;
    font-weight: 800;
}

.botao {
    cursor: pointer;
    font-family: Alegreya Sans SC, sans-serif;
    border: 0;
    border-radius: 0.5dvh;
    font-weight: 6dvh;
    font-size: 18px;
    color: #fff;
    background-color: #DF2588;
    width: 10dvh;
    height: 5dvh;
    align-self: center;
    margin-top: 20px;
}

.loading-div {
    width: 50px;
    display: none;
}


#div_erros_login {
    display: none
}

/* 
Aqui inicia-se o footer
e se finaliza o cadastro
*/

.footer {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    flex-direction: column;
    padding: 20px 100px;
    gap: 10px;
    height: 270px;
    background: #DF2588
}

.footer p {
    justify-self: flex-start;
    width: 100%;
    color: white;
    font-size: 14px;


}

.footer_wrapper {
    display: flex;
    width: 100%;
    height: 85%;
    border-bottom: 2px solid white;
    justify-content: space-between;
    align-self: flex;

}

.footer_wrapper ul {
    display: flex;
    height: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.footer_wrapper ul li a {
    color: white;
    font-size: 14px;

}